<div class="main-container">
<div class="user-details">
  <h1 class="user-details-title">ABOUT</h1>
  <p>
    Java & Spring 기반의 4년차 서버 개발자 입니다. 에듀테크에서 재생에너지 P2P, 
    메타버스 앱 소셜 플랫폼까지 비교적 다양한 서비스 회사에서 플랫폼 개발 및 유지보수, 인프라 구축을 해왔습니다.
    현재까지 주로 웹/앱의 클라우드 서버 인프라 구축과 API개발, ELK를 통한 로그데이터 수집을 진행하였습니다.
    경험해보지 못한 환경에서 새롭게 적응해가며 개발하는걸 좋아하고 
    팀원들에게 도움이 되기위해 내가 진행한 개발에 관한 히스토리를 구체적으로 남기는걸 중요하게 생각합니다.
  </p>
</div>
<div class="about__content">
  <div class="about__content-main">
    <h3 class="about__content-title">Contact</h3>
    <div class="about__content-details">
      <p class="about__content-details-para">
        <strong>Phone.</strong> 010-4207-7868 </br>
        <strong>Email.</strong> noey458749@gmail.com </br>
        <strong>Adress.</strong> 인천광역시 주부토로 514번지 </br>
      </p>
    </div>
  </div>
  <div class="about__content-skills">
    <h3 class="about__content-title">Skills</h3>
    <div class="skills">
      <div class="skills__skill">JAVA</div>
      <div class="skills__skill">SPRING</div>
      <div class="skills__skill">AWS ELB</div>
      <div class="skills__skill">AWS LAMBDA</div>
      <div class="skills__skill">AWS S3</div>
      <div class="skills__skill">AWS EC2</div>
      <div class="skills__skill">MYSQL</div>
      <div class="skills__skill">MONGODB</div>
      <div class="skills__skill">GIT</div>
      <div class="skills__skill">ELK</div>
      <div class="skills__skill">VUE.JS</div>
      <div class="skills__skill">UNITY</div>
    </div>
  </div>
</div>
</div>