<div class="main-container">
    <div class="education-main">
        <h1 class="education-main-title">Education & Certificate</h1>
    </div>
    <div class="row">
        <div class="education-card-wrapper">
            <div class="card">
                <div class="card-content">
                <div class="content">
                    <p class="title is-4">한국방송통신대학교</p>
                    <p class="subtitle is-6">컴퓨터 과학과 / <time datetime="2018-8">2018.08</time> - <time datetime="2024-1">재학중</time></p>
                </div>
                <div class="content">
                    <ul>
                    <li>2024년 2월 졸업예정 입니다.</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="education-card-wrapper">
            <div class="card">
                <div class="card-content">
                <div class="content">
                    <p class="title is-4">AWS 자격증</p>
                    <p class="subtitle is-6"><time datetime="2018-8">2018.08</time></p>
                </div>
                <div class="content">
                    <ul>
                    <li>앞으로 취득할 예정</li>
                    </ul>
                </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="end-container"></div>
