<div class="main-container">
    <div class="project-main">
        <h1 class="project-main-title">Side Project</h1>
    </div>
	<div class="row">
		<div class="cards-wrapper">
			
			<div class="col-md-4">
				<div class="card">
					<div class="image"></div>
					<div class="info">
						<div class="badge">5-7 jaar</div>
						<div class="title"><h3>Young wheels lalalal +</h3></div>
						<p>Maak kennis met en probeer allerlei sporten op wielen</p>
					</div>
				</div>
			</div>
			
				<div class="col-md-4">
					<div class="card">
						<div class="image"></div>
						<div class="info">
							<div class="badge">9-12 jaar</div>
						<div class="title"><h3>Young wheels</h3></div>
							<p>Maak kennis met en probeer allerlei sporten op wielen</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="image"></div>
						<div class="info">
							<div class="badge">warm eten</div>
							<h3>Young urban dance</h3>
							<p>Maak kennis met en probeer allerlei sporten op wielen</p>
						</div>
					</div>
				</div>

                
			</div>
		</div>

        <div class="row">
            <div class="cards-wrapper">
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="image"></div>
                        <div class="info">
                            <div class="badge">5-7 jaar</div>
                            <div class="title"><h3>Young wheels lalalal +</h3></div>
                            <p>Maak kennis met en probeer allerlei sporten op wielen</p>
                        </div>
                    </div>
                </div>
                
                    <div class="col-md-4">
                        <div class="card">
                            <div class="image"></div>
                            <div class="info">
                                <div class="badge">9-12 jaar</div>
                            <div class="title"><h3>Young wheels</h3></div>
                                <p>Maak kennis met en probeer allerlei sporten op wielen</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="card">
                            <div class="image"></div>
                            <div class="info">
                                <div class="badge">warm eten</div>
                                <h3>Young urban dance</h3>
                                <p>Maak kennis met en probeer allerlei sporten op wielen</p>
                            </div>
                        </div>
                    </div>
    
                    
                </div>
            </div>
	</div>
</div>