<div class="main-container">
    <div class="project-main">
        <h1 class="project-main-title">Side Project</h1>
    </div>
	<div class="row">
		<div class="cards-wrapper">
			
			<div class="col">
				<div class="card">
					<div class="image"></div>
					<div class="info">
						<div class="badge">앱 게임</div>
						<div class="title"><h3>고양이 블록</h3></div>
						<p>Unity로 개발한 간단한 클리커 게임</p>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card">
					<div class="image"></div>
					<div class="info">
						<div class="badge">앱 게임</div>
						<div class="title"><h3>고양이 블록</h3></div>
						<p>Unity로 개발한 간단한 클리커 게임</p>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card">
					<div class="image"></div>
					<div class="info">
						<div class="badge">앱 게임</div>
						<div class="title"><h3>고양이 블록</h3></div>
						<p>Unity로 개발한 간단한 클리커 게임</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>