<div class="main-container">

    <div class="container-fluid">
      
        <div class="row example-centered">
            <div class="timeline-main">
                <h1 class="timeline-main-title">Experience Timeline</h1>
            </div>
            <!-- <div class="col-md-12 example-title">
                <h2>Timeline</h2> 
                <p></p>
            </div> -->
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline timeline-centered">
                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">DotDotDot</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2022,10-18</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">DotDotDot</h3>
                            <p>버그수정 안정화 작업 2023-01
                                S3에 음성파일 업로드 이벤트 트리거 발생시 lambda실행하여 MongoDB 업데이트, 로컬로 테스트 가능한 SAM세팅
                                
                                ELK세팅 2022-11 ~ 2022-12
                                ELB(elastic beanstalk)세팅, 도커로 배포 및 filebeat, logstash 활용해 elastic cloud로 로그데이터 수집 </p>
                        </div>
                    </li>

                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">루트에너지</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2021,09-27~2022,09-27</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">루트에너지</h3>
                            <p>루트에너지 솔루션 소스분석 후 데이터베이스 스키마 정리
                                외부팀에서 데이터 요청시 필요한 데이터 추출 업무 진행
                                
                                GCP 개발서버 생성 2022-01 ~ 2022-01
                                GCP에 오픈소스vpn과 쉘스크립트로 내부망 연결후 아파치 톰캣 개발서버 생성
                                
                                고객데이터 배치 프로그램 개발 2021-10 ~ 2021-12
                                온투법에 의해 자금세탁방지를 위한 KYC(고객신원확인)을 진행해야 하는 업무를 맡게 되어 spring boot와 외부 KYC 솔루션 API를 활용해 개발</p>
                        </div>
                    </li>

                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">에듀랩</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2020,08-18~2021,08-18</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">에듀랩</h3>
                            <p>스케쥴링을 활용한 문자전송 배치 프로그램 개발 2021-05 ~ 2021-06
                                spring의 스케쥴링을 활용해 문자 알림을 위한 배치 프로그램 개발, 각 고객의 학습시작 일자와 결제한 프로그램에 따라서 다음 학습 기간이 달라져 그에 맞게 일자를 계산함
                                
                                고객의 데이터를 조회, 관리하는 기능 개발 2020-11 ~ 2021-07
                                spring을 활용해 고객의 계약,정산,수업내용 등을 날짜별로 테이블 및 스크롤 형태로 조회하는 기능 개발, jQurey를 활용해 아동 학습 컨텐츠를 개발하고 학습 내용 조회가능하게 개발, 안드로이드 IOS 개발자와 협업 진행</p>
                        </div>
                    </li>

                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">블랜딩(알바)</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2019,03-18~2020,05-30</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">블랜딩</h3>
                            <p>약 일년동안 외주개발 회사에서 개발 알바를 진행, Unity를 활용한 2D게임 멀티플레이 개발을 하였습니다.</p>
                        </div>
                    </li>

                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">주식회사 제이엠트레이딩</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2018,05-25~2019,03-08</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">주식회사 제이엠트레이딩</h3>
                            <p>카페24/고도몰/네이버 쇼핑몰 사이트 관리, 파이썬으로 크롤링 작업</p>
                        </div>
                    </li>

                    <!-- <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">제우미디어</h2>
                        </div>
                    </li> -->
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2017,09-18~2018,04-30</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">제우미디어</h3>
                            <p>워드프레스 사이트 데이터베이스 백업/이전, 플러그인 적용/수정</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>