.footer {
  background: $main;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}


$bg-color: #4b4247;
$moon-color: #fff8d7;
$cloud-color: rgb(145, 133, 132);
$star-color: #b0a69b;
$train-car-color: #50464b;
$train-window-color: #ffc72f;
$train-door-color: #675e62;
$train-track-color: #43383e;
// Train container
.train-container {
	//position: absolute;
	width: 100%; 
	bottom: -4rem;
	z-index: 10;
}

// Train
.train {
	width: 169rem;
	animation: train-move 8s linear -1s infinite forwards;

	&-car {
		display: inline-block;
		vertical-align: top;
		width: 14rem;
		height: 3rem;
		padding-top: 0.8rem;
		padding-left: 1.3rem;
		border: 1px solid #71656a;
		border-top: 2px solid #978a8e;
		border-radius: 1.1rem;
		background: $train-car-color;
	}

	&-head,
	&-end {
		padding-left: 1.8rem;
		border-radius: 20rem 1.1rem 1.1rem;
		border-left: 2px solid #978a8e;
		width: 10rem;

		.train-windows {
			width: 17rem;
		}

		&-window {
			width: 2.5rem !important;
			border-top-left-radius: 2.5rem !important;
			margin-right: 2rem !important;
		}
	}

	&-end {
		transform: rotateY(180deg);
	}

	&-windows,
	&-door {
		display: inline-block;
	}

	&-windows {
		width: 5rem;
		height: 5rem;
		.w-left,
		.w-right,
		.train-head-window,
		.train-end-window {
			display: inline-block;
			width: 1.8rem;
			height: 1.6rem;
			margin-right: 0.3rem;
			border-radius: 0.3rem;
			background: $train-window-color;
		}
	}

	&-door {
		vertical-align: top;
		width: 1.5rem;
		height: 2rem;
		padding: 0.4rem;
		margin-right: 0.5rem;
		background: $train-door-color;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 1rem;
			background: $train-car-color;
			display: block;
		}
	}
}


@keyframes train-move {
	0% {
		transform: translateX(170rem);
	}
	100% {
		transform: translateX(-88rem);
	}
}
